<head>
  <title>robotlol-counter</title>
  <!-- Mobile look -->
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta
    name="viewport"
    content="width=device-width, height=device-height, viewport-fit=cover, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
  />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- Favicon -->
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2" />
</head>

<body>
  <div id="react-target"></div>
</body>
