body, input {
  padding: 10px;
  font-family: 'Courier New', monospace;
  /* Fill whole space on screen */
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1, footer {
  font-family: 'Arial';
}
